.main {
    display: grid;
    grid-template-rows: auto 110px;
    height: 100vh;
    .main-container{
        display: flex;
        .spend-container, .split-container {
            flex: 1;
            margin-top: 34px;
            border: 1px solid black;
            border-radius: 12px;
        }
        .spend-container {
            margin-left: 34px;
            margin-right: 17px;
        }
        .split-container {
            margin-left: 17px;
            margin-right: 34px;
        }
    }
    .add-expense-button-container {
        justify-content: center;
        align-items: center;
        display: flex;
        .add-expense-button {
            height: 52px;
            width: 162px;
            border: 2px solid black;
            border-radius: 12px;
            background-color: white;
        }
    }
}