.main {
    .spend-container-header {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 3px;
        font-size: 34px;
    }

    .month-header {
        display: flex;
        justify-content: space-between;
        margin: 0px 24px 12px 24px;
        .current-month {
            font-size: 18px;
            font-weight: medium;
        }
        .current-month-spending {
            font-size: 18px;
            font-weight: medium;
        }
    }

    .spend-container-data{
        overflow: auto;
        height: 530px;
        .each-spend-box {
            height: 76px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 19px 26px 24px;
            font-size: 18px;
            border: 1px solid black;
            border-radius: 8px;
    
            .category-image-area {
                min-width: 48px;
                min-height: 48px;
                margin: 14px;
                border: 1px solid black;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            .spend-details-area {
                width: 100%;
                margin: 14px 14px 14px 0px;
                display: flex;
                justify-content: space-between;
                .details {
                    flex-grow: 1;
                    .description {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 4px;
                    }
                    .date-and-category {
                        font-size: 14px;
                        font-weight: bold;
                        color: #5C5C5C;
                    }
                }
                .amount {
                    font-size: 26px;
                    font-weight: bold;
                    text-align: right;
                    padding-left: 8px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}